{% extends 'base.html.twig' %}

{% block title %}Instruments index{% endblock %}

{% block body %}
    <h1>Instruments index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Famille d'instruments</th>
                <th>Sous-famille d'instruments</th>
                <th>Type</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for instrument in instruments %}
            <tr>
                <td>{{ instrument.id }}</td>
                <td>{{ instrument.libelle }}</td>
                {% if instrument.familly.libelle is defined  %}
                <td>{{ instrument.familly.libelle }}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% if instrument.subfamilly.libelle is defined  %}
                <td>{{ instrument.subfamilly.libelle }}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% if instrument.type is defined  %}
                <td>{{ instrument.type }}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% if instrument.img is defined  %}
                <td>{{ instrument.img }}</td>
                {% else %}
                <td></td>
                {% endif %}
                <td>
                    <a class="btn btn-primary" href="{{ path('app_instruments_show', {'id': instrument.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('app_instruments_edit', {'id': instrument.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_instruments_new') }}">Create new</a>
{% endblock %}
